<html>
	<h1 style="font-family:'Courier new';text-align:center;">Data Analysis</h1>
	<body>
      	<form action = "http://localhost:5000/" method = "GET">
        	<p style="font-family:verdana;text-align:center;"><input type = "submit" value = "Back to Query" /></p>
      	</form>
      	<br>
      	<br>
      	<br>
   		<h2 style="font-family:'verdana';text-align:center;"> Number of Upvotes &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Number of Comments</h2>
      	<p style="font-family:'verdana';text-align:center;"> <img src="static/__results___3_0.png" alt="HTML5 Icon" width="400" height="256"> &nbsp &nbsp<img src="static/__results___4_0.png" alt="HTML5 Icon" width="400" height="256"></p> 		
      	<br>
      	<br>
      	<br>
   		<h2 style="font-family:'verdana';text-align:center;"> WordClouds of all the Flairs</h2>
      	<p style="font-family:'verdana';text-align:center;"> <img src="static/__results___5_12.png" alt="HTML5 Icon" width="400" height="400"><img src="static/__results___5_14.png" alt="HTML5 Icon" width="400" height="400"><img src="static/__results___5_16.png" alt="HTML5 Icon" width="400" height="400"></p> 		
 		<br>
      	<p style="font-family:'verdana';text-align:center;"> <img src="static/__results___5_6.png" alt="HTML5 Icon" width="400" height="400"><img src="static/__results___5_8.png" alt="HTML5 Icon" width="400" height="400"><img src="static/__results___5_10.png" alt="HTML5 Icon" width="400" height="400"></p> 		
 		<br>
      	<p style="font-family:'verdana';text-align:center;"> <img src="static/__results___5_0.png" alt="HTML5 Icon" width="400" height="400"><img src="static/__results___5_2.png" alt="HTML5 Icon" width="400" height="400"><img src="static/__results___5_4.png" alt="HTML5 Icon" width="400" height="400"></p> 		
 		<br>
   	</body>
</html>

