<html>
	<br><br><br><br><br>
	<h1 style="font-family:'verdana';text-align:center;font-size:200%;">Reddit Flair Predictor</h1>
	<h2 style="font-family:'verdana';text-align:center;font-size:100%;>  </h2>
	<body background="static/background_home.jpg">
   		<br>
      	<form action = "/" method = "POST">
        	<p style="font-family:verdana;text-align:center;font-size:80%;">Predicts the flair of posts from r/India, given the link of that post and shows the real flair of that post for comparison of prediction with actual. </p> 
        	<p style="font-family:verdana;text-align:center;font-size:100%;"> <b>Enter Reddit Link: </b><input type = "text" name = "Link" /></p>
        	<p style="font-family:verdana;text-align:center;"><input style="font-size:150%;" type = "Submit" value = "Know the Flair!" /></p>
      	</form>
		<br><br><br><br><br>
		<form action = "/dataanalysis" method="GET">
			<p style="font-family:verdana;text-align:center;"><input style="font-size:100%;" type = "submit" value = "Data Analysis" /></p>
		</form>
		<form action = "/modelv2" method="GET">
			<p style="font-family:verdana;text-align:center;"><input style="font-size:100%;" type = "submit" value = "Model Analysis Report Version 2" /></p>
		</form>
		<form action = "/model" method="GET">
			<p style="font-family:verdana;text-align:center;"><input style="font-size:100%;" type = "submit" value = "Model Analysis Report Version 1" /></p>
		</form>



   	</body>
</html>