<html>
	<br><br><br><br><br>
	<h1 style="font-family:'verdana';text-align:center;font-size:200%;">Reddit Flair Predictor</h1>
	<body background="static/background_home.jpg">
   		<br>
      	<form action = "/" method = "POST">
        	<p style="font-family:verdana;text-align:center;font-size:120%;"> </p> 
        	<p style="font-family:verdana;text-align:center;font-size:100%;">Enter Reddit Link: <input type = "text" name = "Link" /></p>
        	<p style="font-family:verdana;text-align:center;"><input style="font-size:1500%;" type = "Submit" value = "Know the Flair!" /></p>
      	</form>
		<br><br><br><br><br>
		<form action = "/dataanalysis" method="GET">
			<p style="font-family:verdana;text-align:center;"><input style="font-size:1000%;" type = "submit" value = "Data Analysis" /></p>
		</form>
		<form action = "/modelv2" method="GET">
			<p style="font-family:verdana;text-align:center;"><input style="font-size:1000%;" type = "submit" value = "Model Analysis Report Version 2" /></p>
		</form>
		<form action = "/model" method="GET">
			<p style="font-family:verdana;text-align:center;"><input style="font-size:1000%;" type = "submit" value = "Model Analysis Report Version 1" /></p>
		</form>



   	</body>
</html>