<html>
	<br><br><br><br><br><br><br><br><br>
	<h1 style="font-family:'verdana';text-align:center;font-size:200%;">Reddit Flair Predictor</h1>
	<body background="static/background_home.jpg">
   		<br>
      	<form action = "/" method = "POST">
        	<p style="font-family:verdana;text-align:center;">Reddit Link </p> 
        	<p style="font-family:verdana;text-align:center;"><input type = "text" name = "Link" /></p>
        	<p style="font-family:verdana;text-align:center;"><input style="font-size:500%;" type = "submit" value = "submit" /></p>
      	</form>
		<br>
		<form action = "/dataanalysis" method="GET">
			<p style="font-family:verdana;text-align:center;"><input style="font-size:500%;" type = "submit" value = "Data Analysis" /></p>
		</form>
		<form action = "/model" method="GET">
			<p style="font-family:verdana;text-align:center;"><input style="font-size:500%;" type = "submit" value = "Model Analysis Report" /></p>
		</form>

   	</body>
</html>