<html>
	<form action = "/dataanalysis" method="GET">
		<p style="font-family:verdana;text-align:center;"><input type = "submit" value = "Data Analysis" /></p>
	</form>
	<form action = "/model" method="GET">
		<p style="font-family:verdana;text-align:center;"><input type = "submit" value = "Model V1 Analysis" /></p>
	</form>
	<br><br><br><br><br><br><br><br><br>
	<h1 style="font-family:'Courier New';text-align:center;">Reddit Flair Predictor</h1>
   	<body background="static/background_home.jpg">
   		<p style="font-family:verdana;text-align:center;"> Predicted Flair : {{ predicted_flair }} </p>
   		<p style="font-family:verdana;text-align:center;"> Real Flair : {{ real_flair }} </p>
      	<form action = "/" method = "GET">
        	<p style="font-family:verdana;text-align:center;"><input type = "submit" value = "Query Again" /></p>
      	</form>
   	</body>
</html>